<!-- <p>profile works!</p>

<h1>{{title}}</h1>

<img [src]="imageUrl" width="300">

<br>

<button (click)="incrementCount()">Click to increment view</button>
<button (click)="resetCount()">Reset</button>
<p>Counter: {{viewCount}}</p>

<div>
    <input type="text" [(ngModel)] = "name">
    <p>Hello, {{name}}!</p>
</div>

<ul>
    <li *ngFor="let item of list">{{item}}</li>
</ul> -->

<div class="card text-center" *ngIf="user">
    <div class="card-header">
      {{user.name}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{user.email}}</h5>
      <img [src]="user.profilePicUrl" width="200" class="rounded-circle"/>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
